html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #0e0e0e; /* dark background */
  color: #eaeaea;            /* readable text on dark bg */
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #000000;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Hyperlink Styles */
a {
    color: #b0b0b0; /* Light grey color for hyperlinks */
    text-decoration: underline;
}

a:hover {
    color: #eaeaea; /* Slightly lighter grey on hover */
}

/* Section Styles */
section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
}

section#about {
    background: #807d7d;
}

/* Project Section Styles */
.project {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.project img {
    max-width: 150px;
    margin-right: 1rem;
    border-radius: 5px;
}

.project-details {
    display: flex;
    flex-direction: column;
}

.project h2 {
  color:#ddd;
  margin: 0;
}

section#projects h2 {
    color: #eaeaea; /* Light color for better contrast */
}

.project .tech-used {
    font-size: 0.9rem;
    color: #666;
    margin: 0.5rem 0;
}

.project p {
    margin: 0.5rem 0 0;
    color:#ddd;
}

section#contact {
    background: #333;
    color: #fff;
    text-align: center;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}